* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
main {
  padding: 25px;
}
body {
  margin: 0;
  padding: 25px;
  background-color: #848fa5;
  font-family: serif;
  color: white;
  margin-bottom: 55px;
  min-height: calc(100vh - 55px);
}
@media screen and (min-width: 200px) {
  body {
    margin-bottom: 60px;
    min-height: calc(100vh - 60px);
  }
}
@media screen and (min-width: 400px) {
  body {
    margin-bottom: 70px;
    min-height: calc(100vh - 70px);
  }
}
@media screen and (min-width: 599px) {
  body {
    margin-bottom: 60px;
    min-height: calc(100vh - 60px);
  }
}
#root,
body {
  padding: 0;
}
#root {
  display: grid;
  grid-template-columns: min-content auto;
}
@media only screen and (min-width: 599px) {
  #root {
    grid-template-columns: 1fr;
  }
}
