@import "./vars.less";
* {
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
main {
    padding: 25px;
}
body {
    margin: 0;
    @media screen and (min-width: @small-font) {
        margin-bottom: @footer-height2;
        min-height: calc(100vh - @footer-height2);
    }
    @media screen and (min-width: @mid-font) {
        margin-bottom: @footer-height3;
        min-height: calc(100vh - @footer-height3);
    }
    @media screen and (min-width: @phone-width) {
        margin-bottom: @footer-height2;
        min-height: calc(100vh - @footer-height2);
    }
    padding: 25px;
    background-color: @dark-drop;
    font-family: serif;
    color: white;
    margin-bottom: @footer-height;
    min-height: calc(100vh - @footer-height);
}

#root,
body {
    padding: 0;
}

#root {
    display: grid;
    grid-template-columns: min-content auto;
    @media only screen and (min-width: @phone-width) {
        grid-template-columns: 1fr;
    }
}
