@import "./../vars.less";

nav {
    padding: 0;
    margin-top: 0;
    ul {
        margin-top: 0;
        display: grid;
        margin-inline: auto;
        padding: 0;
        justify-items: center;
        grid-auto-flow: row;
        width: 100%;
        li {
            background-color: white;
            text-align: center;
            display: block;
            list-style: none;
            user-select: none;
            color: black;
            margin: 0;
            box-sizing: content-box;
            border: none;
            border-bottom: 1px solid black;
            width: 100%;
            &:hover,
            &:hover {
                cursor: pointer;
                background-color: yellow;
            }
            button {
                padding: 5px;
                width: 100%;
                height: 100%;
            }
        }
        li[data-selected="selected"] {
            background-color: red;
            cursor: default;
        }
    }
    .pageButton {
        border: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    @media screen and (min-width: @desktop-width) {
        padding-inline: 10px;
        ul {
            gap: 10%;
            grid-auto-flow: column;
            width: auto;
            max-width: 750px;
            li {
                max-width: 200px;
                border: 1px solid black;
                margin: 15px;
            }
        }
    }
}
