nav {
  padding-inline: 10px;
}
nav ul {
  margin-inline: auto;
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  justify-items: center;
}
nav ul li {
  text-align: center;
  display: block;
  list-style: none;
  width: 100px;
}
