footer {
  color: lightblue;
  padding: 1px 10px;
  position: absolute;
  box-sizing: border-box;
  z-index: 90;
  bottom: 0;
  background-color: #111c;
  width: 100vw;
}
footer div {
  display: flex;
  flex-direction: row;
}
footer #icons {
  margin-left: auto;
}
footer #icons div {
  padding-inline: 5px;
  height: 25px;
}
footer #icons div a {
  text-decoration: none;
  color: red;
}
footer #icons div a:visited {
  color: red;
}
footer #icons div a:hover {
  color: white;
  cursor: pointer;
}
footer #icons div img {
  width: 15px;
  height: 25px;
}
